@use 'colours';

footer {
margin-bottom: 25px;
	@media screen and (min-width:850px){
		display: flex;
		justify-content: space-evenly;
	}

}

.contacts {
	text-align: center;
	color: colours.$c-primary;

	a {
		display: block;
	}
	
}

.contacts :nth-child(5){
	margin-top: 15px;
}