@use 'colours';


/*presentation oil*/

.change {
display: block;
margin-top: 20px;
	@media screen and (min-width:850px){
		display: inline-block;
		margin-top: 0;	
	}
}

.container-oil {
	display: none;
	@media screen and (min-width:850px){
		display: grid;
		grid-template-columns: repeat(3 , 1fr);
		grid-template-rows: repeat(3, 300px);
		gap: 1px;
		padding-top: 25px;	
	}
}

.foto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.foto:nth-child(5){
	@media screen and (min-width:850px){
		grid-column: span 2;
		grid-row: span 2;	
	}
}

