
$c-primary: #92d3ca;
$c-secondary: #b78b52;
$f-size: 18px;


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-size: $f-size;
	line-height: 1.5;
	margin: 0 auto;
	font-family: 'Lora', serif;
}


.container {
	margin: 0 auto;
	

}
.max{
	box-sizing: border-box;
    margin: 0 auto;
	max-width: 1100px;
}

a {
	text-decoration: none;
	color: $c-primary;
    font-size: 30%;
}

.pokus {
	text-align: center;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
	margin: 0;
}

li {
	padding: 0 10px 0 0;
    font-size: $f-size*2;

}

.logo {
	display: block;
	width: 170px;
	margin: 0 auto;
	margin-top: 10px;

}