<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> {{title}}</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="/images/logo.png" alt="logo Skvělá cukrárna">
            <ul>
                <li><a  href="/">O MNĚ</a></li>
                <li><a href="/masaze/">MASÁŽE</a></li>
                <li><a  href="/raindrop/">RAINDROP</a></li>
                <li><a  href="/oleje/">OLEJE</a></li>
                <li><a href="/kontakt/">KONTAKT</a></li>
            </ul>
        </div>
        
    </header>


     <main>
        {{content | safe}}
    
    </main>   


    <footer class="footer">
        <div class="line">
            
        </div>

        <section >
            <div class="contacts">
                <h5>KONTAKTY</h5>
                <p>
                    <a href="tel:+420734540021" target="_blank">+420 734 540&nbsp;021</a>
                    <a href="mailto:bubenickova@masazebubenickova.cz" target="_blank">bubenickova@masazebubenickova.cz</a>
                </p>
                <p> Ztracená 36 , Olomouc 
                    <a href="https://www.google.cz/maps/place/Mas%C3%A1%C5%BEe+Buben%C3%AD%C4%8Dkov%C3%A1/@49.5951991,17.2520742,17z/data=!3m1!4b1!4m5!3m4!1s0x47124f81d6e9848d:0xab871b2de78ca91d!8m2!3d49.5951956!4d17.2542628" target="_blank">(navigovat)</a>
                </p>   
            </div>

            <div class="contacts">
                <h5>OTEVÍRACÍ DOBA</h5>
                <p> Dle telefonické domluvi 
                <a href="tel:+420734540021" target="_blank">+420 734 540&nbsp;021</a>
                </p>

            </div>
        </section>
    </footer>




    
</body>
</html>
